.auth-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .auth-button, .register-button , .login-button{
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button:hover, .register-button:hover , .login-button:hover {
    opacity: 0.9;
  }
  
  .login-button {
    margin: 0.7rem 0rem;
  }

  .register-button {
    margin: 0.7rem 0rem;
  }